# Exkludera alla Excel-filer
*.xlsx
*.xls
*.csv

# Exkludera tunga GIS-filer och mappar
Kartor/
processed/
kalk_artobs/
*.shp
*.dbf
*.prj
*.shx
*.cpg
*.gpkg
*.geojson
*.png
*.tiff
*.jpg


# Python-skräp
__pycache__/
.venv/
.ipynb_checkpoints/